.send-section {
    position: relative;
    background: var(--blue-color);
    min-height: 215px;
    display: flex;
    align-items: center;
}

.send-wrapper {
    min-width: 100%;
    padding: 10px 110px;
    margin: 0 auto;
}

.send-wrapper:last-child {
    margin-left: auto;
}

.send-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px 16px 27px;
    height: 59px;
    width: 440px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: var(--white-color);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    margin: 0 auto;
}

.send-form input {
    width: 260px;
}

.send-form.error {
    box-shadow: 0 0 5px var(--orange-color);
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 43px;
    width: 43px;
    background: var(--orange-color);
}

.other-events {
    float: right;
    cursor: pointer;
}

#accordion-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    line-height: 1;
}

#accordion-link::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    content: "";
    transition: width 0.3s ease-out;
}

#accordion-link:hover:after,
#accordion-link:focus:after {
    width: 80%;
}

#arrow-events {
    transition: transform .3s ease-out;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.activeEvents {}

@media screen and (max-width: 768px) {
    .send-section {
        min-height: 140px;
    }

    .send-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .send-form {
        width: 360px;
        height: 41px;
    }

    .form-btn {
        width: 33px;
        height: 33px;
    }

    .send-form input {
        font-size: 14px;
        width: 202px;
    }
}

@media screen and (max-width: 360px) {
    .send-section {
        height: 141px;
    }

    .send-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 0 10px;
    }

    .send-form {
        width: 280px;
    }
}