@import url(reset.css);
@import url(main.css);
@import url(footer.css);
@import url(popup.css);
@import url(accordion.css);

@font-face {
    font-family: 'SF Pro Display';
    font-weight: normal;
    src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF');
}
@font-face {
    font-family: 'SF Pro Display';
    font-weight: 600;
    src: url('../assets/fonts/SFPRODISPLAYBOLD.OTF');
}

:root {
    --blue-color: #162C4E;
    --orange-color: #DF2224;
    --text-color: rgba(0, 0, 0, 0.8);
    --white-color: #ffffff;
}

h1 {
    font-weight: 700;
    opacity: .39;
    font-size: 72px;
    text-transform: uppercase;
    color: var(--blue-color);
    height: 95px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--blue-color);
}

p {
    font-size: 18px;
    line-height: 150%;
}

.body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background: url(../assets/img/left-img.png) no-repeat, url(../assets/img/right-img.png) no-repeat;
    animation: background_position 2s 1 forwards;
}

.wrapper {
    max-width: 1024px;
    padding: 10px 0;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo {
    animation: occurrenceElements 2s 1 forwards;
}

.arrow {
    width: 20px;
    height: 20px;
    background-image: url(../assets/img/arrow.svg);
}

@keyframes background_position {
    0% {
        background-position: -25% -25%, 110% -10%;  
    }
    100% {
        background-position: 0% 0%, 100% 0%;
    }
}

@keyframes occurrenceElements{
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
        height: 70px;
    }

    p {
        font-size: 16px;
    }

    .header {
        margin-top: 90px;
    }

    .body {
        background-size: 30%, 30%;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        line-height: 104%;
        margin-bottom: 20px;
    }

    .header {
        margin-top: 70px;
    }

    .logo {
        width: 128px;
        height: 40px;
    }

    .body {
        background-size: 40%, 45%;
    }
}

